.container {
    width: 600px;
    height: 150px;
    border: 5px solid black;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    align-items: center;
    /* align-content: center; */

}
.container div{
    /* width: 120px;
    height: 120px; */
    margin: 2px;
    background-color: aqua;
    /* flex-grow: 1; */
}
/* order */
.satu{
    order:2 ;
    align-self: flex-end;
}
.dua{
    order: 4 ;
}
.tiga{
    order:1 ;
}
.empat{
    order:3 ;
}