div{
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}
.satu{
    background-color: rgb(13, 90, 157);
    padding: 10px;
    border: 15px solid red;
}
.dua{
    background-color: rgb(27, 167, 39);
    padding: 30px;
    border: 10px dashed rgb(21, 0, 255);
}