.satu{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.dua{
    width: 200px;
    height: 200px;
    background-color: black;
    position: relative;
    top: 30px;
    left: 30px;
}
.tiga{
    width: 200px;
    height: 200px;
    background-color: yellow;
}